.battery-top{
	width: 30px;
	height: 10px;
	background-color: black;
	margin: 0 auto;
	border: 3px solid silver;
	border-top-right-radius: 8px;
	border-bottom-left-radius: 8px;
	

}
.battery-content{
	width: 150px;
	height: 250px;
	position: relative;
	margin: 0 auto;
	border: 3px solid silver;
	border-radius: 18px;
}
.charge{
	bottom: 0;
	position: absolute;
	width: 100%;
	border-radius: 14px;
	animation: battery 8s linear infinite;

}
@keyframes battery{
	0%{
		background-color: red;
		height: 0%;

	}
	25%{
		background-color:orange;
		height: 25%;

	}
	50%{
		background-color: yellow;
		height: 50px;

	}
	75%{
		background-color: rgb(4, 242, 242);
		height: 75%;

	}
	100%{
		background-color: green;
		height: 100%;
	}
}
